html,
body {
  height: 100%;
  line-height: 160%;
  font-size: 14px;
  color: #23262f;
  background-color: #ffffff;
  font-family: "Didact Gothic", sans-serif;
}

/* - Позиционирование -------------------------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.form {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(auto, 500px) minmax(auto, 700px)
    minmax(1rem, 1fr);
  grid-template-areas:
    ". form__presentation form__body ."
    ". form__deco form__body .";
  padding: 3% 0px;
}

.form__presentation {
  grid-area: form__presentation;
}

.form__deco {
  grid-area: form__deco;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form__image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 30px;
}

.form__image img {
  width: 100%;
}

.form__result {
  position: relative;
  display: flex;
  z-index: 1;
  margin-top: 30px;
  min-width: 80%;
  min-height: 190px;
  background: url("../img/car-loan.png") 5% 90%/ 120px no-repeat;
  justify-content: center;
  padding: 50px 10px 20px 10px;
  border: solid 4px #ffbb26;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.form__invisible {
  display: none;
}

.form__buttons {
  position: relative;
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.form__buttons_mobile {
  display: none;
}

.form__body {
  grid-area: form__body;
  margin-left: 5%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.form__body * {
  outline: none;
}

.form__item {
  position: relative;
  width: 100%;
  align-self: flex-start;
  margin: 0px 0px 24px 0px;
}

.form__options {
  display: inline-flex;
}

.form__options div {
  margin-right: 20px;
}

#totalPrice {
  margin-top: 24px;
}

/* - Типографика, оформление ------------------------------- */
.form__title {
  font-size: 32px;
  color: #87b237;
  letter-spacing: 0.1em;
  line-height: 180%;
  margin: 0px;
  padding: 0px 0px 18px 0px;
  text-align: center;
  text-transform: uppercase;
}

.form__info {
  font-size: 18px;
  text-align: center;
  padding: 12px 0px 30px 0px;
}

.form__select,
.form__input {
  color: #23262f;
  width: 250px;
  min-height: 44px;
  box-sizing: border-box;
  padding: 24px 0px 2px 25px;
  background-color: #ffffff;
  border: solid 1px #a87b09;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

.form__select:focus,
.form__input:focus {
  border: solid 1px #000000;
}

.form__label {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 1;
  background-color: #ffffff;
  padding: 0px 5px;
  overflow: hidden;
  color: #a87b09;
}

p {
  margin: 0px 0px 12px 0px;
  color: #a87b09;
}

/* - Оформление: кнопки ---------------------------- */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 13px 30px;
  min-width: 60px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 2px 0 #23262f3b;
}

.button_color-green {
  background-color: #87b237;
  margin-right: 15px;
}

.button_color-red {
  background-color: #f04930;
  margin-left: 15px;
}

.button_color-green:hover {
  background-color: #c2ec74;
}

.button_color-red:hover {
  background-color: #ff8c8c;
}

.checkbox__label,
.radio__label {
  cursor: pointer;
}

/* - Медиазапросы ------------------------------------------ */

@media screen and (max-width: 950px) {
  .form {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 975px) minmax(
        1rem,
        1fr
      );
    grid-template-areas:
      ". form__presentation ."
      ". form__body ."
      ". form__deco ."
      ". form__buttons_mobile .";
    padding: 3% 0px;
  }

  .form__image {
    display: none;
  }

  .form__buttons {
    display: none;
  }

  .form__buttons_mobile {
    grid-area: form__buttons_mobile;
    display: inline-flex;
    justify-content: center;
    margin: 24px 0px;
  }

  .form__info {
    font-size: 18px;
    text-align: center;
    padding: 2px 0px 5px 0px;
  }

  .form__options {
    display: flex;
    flex-direction: column;
  }

  .form__title {
    margin-top: 16px;
    line-height: 140%;
  }

  .form__result {
    background: url("assets/img/car-loan.png") 5% 90% / no-repeat;
  }
}
